.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: black;
    z-index: 9999;
    pointer-events: none;

    .bg {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 25vw;
        background: white;
        z-index: 10000;
        pointer-events: auto;

        .links {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            a {
                font-size: 1.5rem;
            }
        }
    }

    button {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        position: fixed;
        top: 2.4rem;
        left: 2.1rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 11000;
        pointer-events: auto;
    }

    /* ---------- RESPONSIVENESS ---------- */
    @media (max-width: 1024px) {
        .bg {
            width: 40vw;
        }
    }

    @media (max-width: 768px) {
        .bg {
            width: 60vw;
        }
    }

    @media (max-width: 600px) {
        .bg {
            width: 100vw;
            /* Full width on mobile */
        }
    }
}