.hero {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: black;
    color: white;
    display: flex;
    align-items: center; // vertical centering
    justify-content: flex-start;
    overflow: hidden;


    .backgroundVideo {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        filter: brightness(0.5);
    }

    /* ================= Left Content ================= */
    .heroContent {
        position: relative;
        z-index: 5;
        max-width: 700px;
        margin-left: 15rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h2 {
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: 1px;
            color: #f5f5f5;
        }

        h1 {
            font-family: 'Bonny', sans-serif;
            font-size: 6rem;
            font-weight: 900;
            line-height: 1.2;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6;
            max-width: 500px;
        }

        .buttons {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;

            button {
                padding: 1.2rem 2rem;
                font-size: 1rem;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s ease;
                border: none;
            }

            .primary {
                background: white;
                color: black;

                &:hover {
                    background: black;
                    color: white;
                    border: 1px solid white;
                }
            }

            .secondary {
                background: transparent;
                border: 2px solid white;
                color: white;

                &:hover {
                    background: white;
                    color: black;
                }
            }
        }
    }

    /* ================= Responsive ================= */

    @media (max-width: 1024px) {
        .heroContent {
            margin-left: 5rem;

            h1 {
                font-size: 3rem;
            }
        }
    }

    @media (max-width: 768px) {
        justify-content: center;

        .heroContent {
            margin: 0;
            text-align: center;
            align-items: center;
            padding: 0 1rem;

            h1 {
                font-size: 2.2rem;
            }

            p {
                font-size: 1rem;
            }

            .buttons {
                flex-direction: column;

                button {
                    width: 80%;
                }
            }
        }
    }

    @media (max-width: 480px) {
        .heroContent {
            h1 {
                font-size: 1.8rem;

            }

            p {
                font-size: 0.9rem;
            }
        }
    }
}