@font-face {
    font-family: 'Bonny';
    src: url('./fonts/Bonny-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bonny';
    src: url('./fonts/Bonny-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bonny';
    src: url('./fonts/Bonny-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bonny';
    src: url('./fonts/Bonny-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bonny';
    src: url('./fonts/Bonny-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Humankind';
    src: url('./fonts/humankind.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}